# Ignore virtual environment
venv/

# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore logs and other temporary files
*.log
*.bak
*.swp
*.swo

# Ignore environment variable files
.env
*.env

# Ignore IDE or editor specific files
.idea/
.vscode/

# Ignore system files (e.g., macOS, Windows)
.DS_Store
Thumbs.db

# Ignore TensorFlow-related files (optional, if you have TensorFlow-specific files)
*.h
*.a
*.so
